.hero {
    position: relative;
    width: 100%;
    height: 800px;
    padding-left: 40px;
    background: url('/assets/bgrenmobil.jpg') no-repeat center center/cover;
    display: flex;
    justify-content: left;
    align-items: center;
    text-align: center;
    color: white;
}

.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4); /* Gelap transparan */
    backdrop-filter: blur(5px); /* Efek blur */
    z-index: 1;
}

.hero-content {
    position: relative;
    z-index: 2;
    max-width: 600px;
}

.hero-content h1 {
    font-size: 40px;
    font-family: "Bebas Neue", serif;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 10px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.hero-content p {
    font-size: 18px;
    font-family: "Courier New", monospace;
    line-height: 1.5;
    color: hwb(0 87% 13%);
    text-align: left;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.cta-button {
    display: inline-block;
    margin-top: 20px; /* Tambahkan margin untuk menurunkan button */
    padding: 12px 30px;
    background: white;
    color: black;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
    transition: 0.3s;
}

.cta-button:hover {
    background: hsl(2, 64%, 58%);
}